
*{
	padding: 0px;
	margin:0px;
 } 
 .Main{
	margin:25px;
	top: 20px;
	position: relative;
}
.Second{
	font-size: 15px;
	margin-top: 20px;
	margin-left: 20px;
	font-color: blue;
	top: 10px;
	padding-top:10px;

}
body{
	background-image:url(../Pictures/yamaha.jpg);
	background-size: cover;
	background-attachment: fixed;
	
    }
a{
	color: yellow;
	font-family: Arial;
	font-size: 25px;
	text-decoration: none;
	padding: 7px;
	top: 10px;
	transition: 0.6s ease;
 }
 a:hover{
	background-color: gold;
		}
fieldset{
	margin-right: 500px;
}
label{
	font-size: 25px;
	font-weight:1000px;
	color: white;
	}
legend{
	width: 1400px;
	color:gold;
	font-size: 50px;
}
input[type="submit"]{
	cursor: pointer;
	height: 40px;
	width: 100px;
}
input[type="submit"]:hover{
	background-color: green;
}