*{
	padding: 0px;
	margin: 0px;
}
body{
	background-image:url(../Pictures/7.jfif);
	background-size: cover;
	background-attachment: fixed;
	border-radius: 10px;
	position: relative;
}
.Main{
	margin:25px;
	top: 20px;
	position: relative;
}
.Second{
	font-size: 15px;
	margin-top: 40px;
	margin-left: 40px;
	height: 400px;
	font-color: blue;
	top: 10px;
	/*margin-bottom: 500px;*/
}
.Main a:hover{
	background-color: green;
}

.Main a{
	text-decoration: none;
	padding:7px;
	font-size: 25px;
	color: yellow;
	transition: 0.6s ease;
}
.Second a{
	color: white;
	text-decoration: none;
	font-size: 30px;
}
.Second a:hover{
	background-color: green;
}

